#nav-mobile,
#nav-desktop {
  background: #618d8d;
  width: 100%;
}
#nav-mobile img,
#nav-desktop img {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  #nav-mobile img {
    height: 13rem;
  }
  #nav-desktop img {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  #nav-mobile img {
    display: none;
  }
  #nav-desktop img {
    display: block;
  }
}
